*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style:none;
}

html{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins',sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(to bottom right,rgb(204, 137, 13), rgb(255, 255, 22));
}

.card{
    width: 300px;
    background-color: white;
    border-radius: 0.3rem;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.4);
    padding: 3rem 2rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    &__icon{
        border-radius: 50%;
    }

    &__link{
        font-size: 0.8rem;
        color: gray;
        text-decoration: underline;
    }
}

.form{

    &__group{
        background-color: lime;
        margin: 0.5rem 0;
        position: relative;
    }

    &__label{
        position: absolute;
        top:50%;
        left:-11%;
        transform: translate(0%,-50%);
        color: gray;
        line-height: 0;
    }

    &__input{
        width: 100%;
        padding: 0.5rem 0.6rem;
        font-size: 1rem;
        border: none;
        border-bottom: 3px solid rgb(230, 227, 227);

        &:focus{
            outline: none;
            border-bottom: 3px solid rgb(24, 207, 24);
        }

        &:focus ~ .form__label{
            color: rgb(24, 207, 24);
        }
    }
}

.btn{
    width: 100%;
    display: inline-block;
    font-size: 1.2rem;
    text-transform: uppercase;
    padding: 0.5rem;
    background-color: darken(yellow,10%);
    border: none;
    color: white;
    margin:1rem 0;
    transition: all 300ms;
    &:hover{
        transform: translateY(-0.5rem);
        box-shadow: 0 0.3rem 1rem rgba(0,0,0,0.4);
        background-color: rgb(243, 243, 20);
    }
}